*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(img/Fundo1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}

h2{
    font-size: 30px;
    color: rgb(12, 12, 224);
    text-align: center;
    margin: 20px;
}

.container{
    width: 350px;
    background: rgba(32, 10, 233, 0.219);
    border-radius: 20% 0;
    box-shadow: 1px 2px 1opx blue, 3px 6px 20px blue;
    padding: 50px 20px;
}

input{
    width: 100%;
    height: 46px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    transition: .25s ease-in-out;
}

.input-field{
    position: relative;
    margin-bottom: 20px;
}

label{
    position: absolute;
    top: 9px;
    left: 0;
    color: white;
    transform: translateY(18px);
    transition: .25s ease-in-out;
}

input:focus{
    border-bottom: 2px solid blue;
    box-shadow: 0 1px 0 0 blue;
}

input:focus + label{
    transform: translateY(-14px) scale(.8);
    color: green;
    font-weight: bold;
}

input:not(:placeholder-shown) + label{
    transform: translateY(-14px) scale(.8);
    color: green;
    font-weight: bold;
}

input:not(:placeholder-shown){
    border-bottom: 2px solid rgb(0, 143, 0) (24, 24, 216, 0.856);
    box-shadow: 0 1px 0 0 rgb(0, 134, 0) (18, 184, 54, 0.767);
}

input::placeholder{
    color: black;
    position: relative;
    left: 47px;
    top: 15px;
}

button{
    padding: 15px 50px;
    margin: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    transition: ease-in-out .25s;
}

button:hover{
    background: rgb(37, 11, 185);
}

.center{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
    transition: .25s ease-in-out;
}

a:hover{
    color: rgba(255, 255, 255, 0.705);

}
    color: black;
    transition: .25s ease-in-out;
}

a:hover{
    color: rgba(255, 255, 255, 0.705);
}
